body{
  background-color: rgb(129, 46, 129);
}

.App {
  text-align: center;
  height: 200vh;
  background-color: rgb(180, 167, 167);
  color: rgb(131, 38, 131);
  border: 10px solid rgb(129, 46, 129);
}

.button{
  background-color: rgb(67, 67, 136);
  color: white;
  height: 30px;
}

.input{
  background-color: rgb(207, 148, 207);
  color: rgb(131, 38, 131);
}

.label{
  font-size: 18px;
}

.border{
  border: 5px solid rgb(129, 46, 129);
}

.lineBreak{
  border:1px solid rgb(129, 46, 129);
}